@import "tailwindcss";
.scrollbar-custom::-webkit-scrollbar {
    /* height: 6px; */
    display:none;
}

/* .scrollbar-custom::-webkit-scrollbar-track {
    background: #e5e5e5;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #323232;
    border-radius: 10px;
} */